<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	
	<context:annotation-config/><!-- student1 -->
	<bean class="test6.ApplicationConfig"/>
	
	<bean id="student2" class="test6.Student">
		<constructor-arg value="개나리"/>
		<constructor-arg value="10"/>
		<constructor-arg>
			<list>
				<value>꽃에 물 주기</value>
				<value>꽃 심기</value>
			</list>
		</constructor-arg>
		<property name="height" value="150"/>
		<property name="weight" value="150"/>
	</bean>
</beans>
